{% set path = '/conference' %}
{% set src_url = '/conference/web' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Presence - Lausanne 2016{% endblock %}</title>

    <meta name="viewport"
          content="initial-scale=1, width=device-width, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width, minimal-ui">

    {% block meta %}{% endblock %}
    <link rel="apple-touch-icon" href="{{ src_url }}/apple-touch-icon.png"/>
    <link rel="shortcut icon" href="{{ src_url }}/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ src_url }}/favicon.png"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ src_url }}/css/layout.css" type="text/css"/>
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header>

    <ul>
        <li><a href="http://laguerison.org/conference">Français</a></li>
        <li><a class="current" href="http://healing-ministries.org/conference">English</a></li>
    </ul>

</header>

<!---->
<section class="page">
    {% block body %}{% endblock %}
</section>


<footer>
    <article>

        <a href="http://healing-ministries.org" id="logo_iahm" class="{{ app.request.locale }}"></a>

        <h1><a href="http://laguerison.org/conference">{{ 'general.international_conf'|trans }}</a></h1>

        <div class="line"></div>

        <ul class="social">
            <li class="facebook"><a target="_blank" href="https://www.facebook.com/iahmConference"></a></li>
            <li class="twitter"><a target="_blank" href="https://twitter.com/AIMG_IAHM"></a></li>
            <li class="instagram"><a target="_blank" href="https://instagram.com/iahm_aimg/"></a></li>
            <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/AIMGTV"></a></li>
        </ul>

    </article>
</footer>
</body>
</html>
