{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}

        <section class="header">
            <!--<div class="logo_conf"></div>-->
            <div class="logo_conf1"></div>
            <div class="logo_conf2"></div>
        </section>

        <section class="details">
            <article>
                <h1>{{ 'general.dates'|trans|raw }}</h1>

                <h2>{{ 'general.place'|trans|raw }}</h2>

                <a href="{{ path('iahm_page_custom', {'name': 'transport'}) }}"
                   class="button"><span>{{ 'general.access'|trans }}</span></a>




            </article>

            <article class="flag">
                <img width="120px" height="60px"
                     src="{{ asset('images/flag_english.png') }}"
                     alt="English">

                <p>All the conference will be translated French into English and English into French.</p>

                <img width="120px" height="60px"
                     src="{{ asset('images/flag_german.png') }}"
                     alt="English">

                <p>Die ganze Konferenz wird auf deutscher Sprache mit Hilfe von Helmen übersetzt sein, die Sie vor Ort finden werden.</p>

            </article>


        </section>

        <section class="video">

            {% if app.request.locale == "fr" %}
                <article>

                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-video" data-allowfullscreen="1"
                         data-href="/iahmConference/videos/p.800029676792996/800029676792996/?type=3"></div>

                </article>
            {% else %}
                <article>

                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-video" data-allowfullscreen="1"
                         data-href="/iahm.international/videos/vb.422383907852542/992493784174882/?type=3"></div>
                </article>
            {% endif %}
        </section>

        <section class="presentation_txt">

            <article>

                {{ 'presentation.conf'|trans|raw }}
            </article>
        </section>

        <section class="speakers_link">

            <article>
                <h1>{{ 'general.speakers_title'|trans }}</h1>

                <a href="{{ path('iahm_page_custom', {'name': 'speakers'}) }}"
                   class="button"><span>{{ 'general.discover_speakers'|trans }}</span></a>
            </article>

            <div class="speakers"></div>
        </section>

        <section class="infos">
            <article>

                <h1>{{ 'general.more_info_title'|trans }}</h1>

                <a id="transport"
                   href="{{ path('iahm_page_custom', {'name': 'transport'}) }}"><span>{{ 'general.transport'|trans }}</span></a>
                <a id="schedule"
                   href="{{ path('iahm_page_custom', {'name': 'schedule'}) }}"><span>{{ 'general.schedule'|trans }}</span></a>
                <a id="meal"
                   href="{{ path('iahm_page_custom', {'name': 'meal'}) }}"><span>{{ 'general.meal'|trans }}</span></a>
                <a id="accommodation"
                   href="{{ path('iahm_page_custom', {'name': 'accommodation'}) }}"><span>{{ 'general.accommodation'|trans }}</span></a>
                <a id="partners"
                   href="{{ path('iahm_page_custom', {'name': 'partners'}) }}"><span>{{ 'general.partners'|trans }}</span></a>

            </article>
        </section>

        <section class="register">

            <article>

                <a href="{{ path('iahm_page_custom', {'name': 'registration'}) }}"><span>{{ 'general.register'|trans }}</span></a>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}